.main-wrapper {
  width: 100%;
  height: calc(100vh - 70px);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
@media only screen and (max-height: 800px) {
  .main-wrapper {
    overflow: auto;
  }
}
